.one {
	font-size: 30px;
	background-color: aqua;
	color: rgb(223, 177, 177);
	padding-top: 5px;
	text-align: center;
	align-items: center;
}
.two {
	font-size: 30px;
	background-color: rgb(212, 255, 19);
	color: rgb(202, 169, 169);
	padding-top: 5px;
	text-align: center;
	align-items: center;
}
.three {
	font-size: 20px;
	background-color: rgb(19, 255, 90);
	color: rgb(255, 255, 255);
	padding: 20px;
	text-align: center;
}
