* {
	box-sizing: border-box;
}
.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px 200px 50px;
	grid-gap: 5px;
}
.header {
	grid-column: 1 / -1;
}
.menu {
	grid-column: 1/3;
}
.content {
	grid-column: 3/13;
}
.footer {
	grid-column: 1 / -1;
}
