.container {
	border: 2px solid black;
	height: 100vh;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3, 100px);
	grid-auto-rows: 100px;
	grid-auto-flow: dense;
}
.horizontal {
}
.vertical {
}
.big {
}
